@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;600;700;800;900&display=swap');

* {
    font-family: 'Inter', sans-serif !important;
}

body ::-webkit-input-placeholder {
    color: #9A9A9A !important;
}

body :-ms-input-placeholder {
    color: #9A9A9A !important;
}

body ::-ms-input-placeholder {
    color: #9A9A9A !important;
}

body ::placeholder {
    color: #9A9A9A !important;
}

body .font-red-hat-display {
    font-family: 'Red Hat Display', sans-serif !important;
}

body .cl-light-blue {
    color: #34b3ff;
}

body nav .navbar-brand {
    font-family: 'Red Hat Display', sans-serif !important;
    font-size: 26px;
    font-weight: 700 !important;
    color: #FFFFFF !important;
}

@media screen and (min-width: 768px) {
    body nav .navigation {
        margin-left: 80px;
    }
}

body nav .navigation li {
    margin-right: 32px;
}

body nav .navigation a {
    font-size: 16px;
    font-weight: 400 !important;
    color: #FFFFFF !important;
}

body nav .authentication li {
    margin-right: 38px;
}

body nav .authentication a {
    font-size: 16px;
    font-weight: 700 !important;
}

@media screen and (min-width: 768px) {
    body nav .authentication .cl-white {
        color: #FFFFFF !important;
    }
}

@media screen and (max-width: 768px) {
    body nav .authentication .login {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    body nav .authentication .login a {
        background: #518CFF;
        border-radius: 8px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        color: #FFFFFF !important;
        padding: 14px 14px 14px 14px !important;
    }
}

body nav .authentication .signup {
    background: #FFFFFF;
    border-radius: 8px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #1C3055 !important;
    padding: 14px 14px 14px 14px !important;
}

body .abovefold {
    background: #0F0F0F;
    padding-bottom: 115px;
}

body .abovefold .header {
    margin-top: 85px;
}

body .abovefold .img-header {
    position: absolute;
    top: 0;
    right: 0;
}

body .abovefold .headline {
    font-family: 'Red Hat Display', sans-serif !important;
    font-weight: 700 !important;
    line-height: 91px;
    color: #FFFFFF;
    font-size: 72px;
}

@media screen and (max-width: 768px) {
    body .abovefold .headline {
        font-size: 54px;
        line-height: 80px !important;
    }
}

body .abovefold .sub-headline {
    font-family: 'Red Hat Display', sans-serif !important;
    font-weight: 400 !important;
    font-size: 26px;
    line-height: 38px;
    color: #CED2DE;
    margin-top: 30px;
    width: 75%;
}

@media screen and (min-width: 768px) {
    body .abovefold .sub-headline {
        width: 373px;
    }
}

body .abovefold .four-point {
    margin-top: 80px;
    color: #CED2DE;
}

body .abovefold .card {
    background: #171717;
    -webkit-box-shadow: -32px 48px 60px rgba(22, 23, 28, 0.04);
    box-shadow: -32px 48px 60px rgba(22, 23, 28, 0.04);
    border-radius: 12px;
    padding: 52px 52px 40px;
    border: none;
}

@media screen and (min-width: 768px) {
    body .abovefold .card {
        width: 464px;
    }
}

body .abovefold .card .form-control {
    background: #202020;
    border-radius: 8px;
    border: none;
    padding: 16px 20px;
    height: 56px;
    font-weight: 600 !important;
}

body .abovefold .card .input-title {
    color: #494C57;
    font-size: 16px;
    margin-bottom: 12px;
}

body .abovefold .card .btn-card {
    margin-top: 36px;
    background: #00B67A;
    border-radius: 8px;
    height: 56px;
    padding: 10px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700 !important;
}

body .abovefold .card .award {
    font-size: 12px;
    line-height: 18px;
    color: #8D8F98;
}